@import "bootstrap/scss/bootstrap";

/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    --icon-count: 3;
    --inner-height: 4em;
    --ratio: 2/3;
   /* Customizable */
    --period: 1s;
   /* Customizable */
}


/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins" , sans-serif;
  }

  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  time,
  input,
  label,
  select,
  button,
  textarea,
  ion-icon { display: block; }
  
  input,
  button,
  select,
  textarea {
    border: none;
    font: inherit;
  }
  
  button,
  select { cursor: pointer; }
  
  input,
  textarea { width: 100%; }
  
  ion-icon { pointer-events: none; }  

/*-----------------------------------*\
 * #SPINNER
\*-----------------------------------*/  
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    height: var(--inner-height);
    width: calc(var(--inner-height) * var(--ratio) * var(--icon-count));
  }
  
  .loader .icon {
    width: calc(100% / var(--icon-count));
    height: calc(100% * var(--ratio));
    animation: loader-bounce02 var(--period) infinite linear;
  }
  
  /*
   * animation delay = (n - 1) / steps * period
   */
  
  .loader .icon:nth-of-type(2) {
    animation-delay: calc(1 / 5 * var(--period));
  }
  
  .loader .icon:nth-of-type(3) {
    animation-delay: calc(2 / 5 * var(--period));
  }
  
  @keyframes loader-bounce02 {
    20% {
      /* Raise */
      transform: translateY(calc(-50% * (1 - var(--ratio))));
    }
  
    40% {
      /* Lower */
      transform: translateY(calc(50% * (1 - var(--ratio))));
    }
  
    60% {
      /* Keep centered */
      transform: translateY(0);
    }
  
    80% {
      /* Keep centered */
      transform: translateY(0);
    }
  }


/*-----------------------------------*\
 * #SINGLE TEACHERS
\*-----------------------------------*/

.ms-bg-index-card{
    background: transparent;
    border-radius: 20px;
    backdrop-filter:blur(15px);
}

img.img-card{
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  object-fit: cover;
  object-position: top center;
}

/*-----------------------------------*\
 * #LOGO NAVBAR
\*-----------------------------------*/

.logo{
  width: 60px;
  height: 60px;
  object-fit: contain;
  object-position: center;
}
